/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/typography";

h1{
	font-size:200%;
}
h2{
	font-size:150%;
}
h3{
	font-size:120%;
}
h4{
	font-size:100%;
}
h5{
	font-size:80%;
}

nav{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:1px solid darken(white,40%);
    margin-bottom:5px;
    ul{
        text-align:center;
        li{
            margin:{
                left:5px;
                right:5px;
            }
            a{
                @include unstyled-link;
                @include link-colors(darken(white,70%),#6BD0CF);
            }
        }
    }
}

#site-footer{
    background-color: lighten(black,5%);
    color:white;
}

