/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/typography/links";
@import "compass/layout";

h1{
	font-size:200%;
}
h2{
	font-size:150%;
}
h3{
	font-size:120%;
}
h4{
	font-size:100%;
}
h5{
	font-size:80%;
}

nav{
    a{
        @include unstyled-link;
        @include link-colors(darken(white,70%),#6BD0CF);
    }
    padding-bottom:5px;
    border-bottom:1px solid darken(white,40%);
    margin-bottom:5px;
}



@include sticky-footer(30px, "#fbox", "#fbox-footer", "footer");
footer{
    padding-top:10px;
}
