/* line 16, ../sass/F.scss */
html {
  height: 100%;
}

/* line 21, ../sass/F.scss */
body.f-on-footer {
  height: 100%;
}
/* line 23, ../sass/F.scss */
body.f-on-footer .f-main {
  clear: both;
  min-height: 100%;
  height: auto!important;
  height: 100%;
  margin-bottom: -170px;
}
/* line 29, ../sass/F.scss */
body.f-on-footer .f-main .f-main-footer- {
  height: 170px;
}
/* line 33, ../sass/F.scss */
body.f-on-footer .f-main-footer {
  clear: both;
  position: relative;
  height: 170px;
}
/* line 39, ../sass/F.scss */
body.f-on-footer.f-top-footer .f-main {
  margin-bottom: 0;
}
/* line 42, ../sass/F.scss */
body.f-on-footer.f-top-footer .f-main-footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}
/* line 50, ../sass/F.scss */
body.f-on-navbar .f-main-navbar- {
  height: 50px;
}
/* line 52, ../sass/F.scss */
body.f-on-navbar .f-main-navbar- .f-main-navbar {
  height: 50px;
}
/* line 54, ../sass/F.scss */
body.f-on-navbar .f-main-navbar- .f-main-navbar.affix {
  top: 0px;
  position: fixed;
}

/* line 65, ../sass/F.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top-width: 4px;
  border-top-style: solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* line 77, ../sass/F.scss */
.f-inline-block {
  margin: 0;
  padding: 0;
  border: 0;
  *zoom: 1;
}
/* line 82, ../sass/F.scss */
.f-inline-block li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}

/* line 97, ../sass/F.scss */
.f-unit {
  padding: 10px 10px 10px 10px;
}

/* line 101, ../sass/F.scss */
.pull-left, .span, .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .row-fluid-span, .row-fluid .span1, .row-fluid .span2, .row-fluid .span3, .row-fluid .span4, .row-fluid .span5, .row-fluid .span6, .row-fluid .span7, .row-fluid .span8, .row-fluid .span9, .row-fluid .span10, .row-fluid .span11, .row-fluid .span12 {
  float: left;
}

/* line 109, ../sass/F.scss */
.clearfix, .row, .row-fluid {
  *zoom: 1;
}
/* line 111, ../sass/F.scss */
.clearfix:before, .row:before, .row-fluid:before {
  display: table;
  content: "";
  line-height: 0;
}
/* line 116, ../sass/F.scss */
.clearfix:after, .row:after, .row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 124, ../sass/F.scss */
.row {
  margin-left: -20px;
}

/* line 128, ../sass/F.scss */
.row-fluid {
  width: 100%;
}

/* line 134, ../sass/F.scss */
.span.pull-right, .pull-right.span1, .pull-right.span2, .pull-right.span3, .pull-right.span4, .pull-right.span5, .pull-right.span6, .pull-right.span7, .pull-right.span8, .pull-right.span9, .pull-right.span10, .pull-right.span11, .pull-right.span12 {
  float: right;
}
/* line 137, ../sass/F.scss */
.span.hide, .hide.span1, .hide.span2, .hide.span3, .hide.span4, .hide.span5, .hide.span6, .hide.span7, .hide.span8, .hide.span9, .hide.span10, .hide.span11, .hide.span12 {
  display: none;
}

/* line 141, ../sass/F.scss */
.row-fluid-span, .row-fluid .span1, .row-fluid .span2, .row-fluid .span3, .row-fluid .span4, .row-fluid .span5, .row-fluid .span6, .row-fluid .span7, .row-fluid .span8, .row-fluid .span9, .row-fluid .span10, .row-fluid .span11, .row-fluid .span12 {
  display: block;
  min-height: 30px;
}
/* line 145, ../sass/F.scss */
.row-fluid-span:first-child, .row-fluid .span1:first-child, .row-fluid .span2:first-child, .row-fluid .span3:first-child, .row-fluid .span4:first-child, .row-fluid .span5:first-child, .row-fluid .span6:first-child, .row-fluid .span7:first-child, .row-fluid .span8:first-child, .row-fluid .span9:first-child, .row-fluid .span10:first-child, .row-fluid .span11:first-child, .row-fluid .span12:first-child {
  margin-left: 0;
}

/* line 150, ../sass/F.scss */
.span1 {
  margin-left: 20px;
  width: 80 - 20px;
}

/* line 155, ../sass/F.scss */
.offset1 {
  margin-left: 60 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span1 {
  margin-left: 2.128%;
  width: 6.383%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset1 {
  margin-left: 10.638%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset1:first-child {
  margin-left: 8.511%;
}

/* line 150, ../sass/F.scss */
.span2 {
  margin-left: 20px;
  width: 160 - 20px;
}

/* line 155, ../sass/F.scss */
.offset2 {
  margin-left: 120 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span2 {
  margin-left: 2.128%;
  width: 14.894%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset2 {
  margin-left: 19.149%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset2:first-child {
  margin-left: 17.021%;
}

/* line 150, ../sass/F.scss */
.span3 {
  margin-left: 20px;
  width: 240 - 20px;
}

/* line 155, ../sass/F.scss */
.offset3 {
  margin-left: 180 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span3 {
  margin-left: 2.128%;
  width: 23.404%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset3 {
  margin-left: 27.66%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset3:first-child {
  margin-left: 25.532%;
}

/* line 150, ../sass/F.scss */
.span4 {
  margin-left: 20px;
  width: 320 - 20px;
}

/* line 155, ../sass/F.scss */
.offset4 {
  margin-left: 240 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span4 {
  margin-left: 2.128%;
  width: 31.915%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset4 {
  margin-left: 36.17%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset4:first-child {
  margin-left: 34.043%;
}

/* line 150, ../sass/F.scss */
.span5 {
  margin-left: 20px;
  width: 400 - 20px;
}

/* line 155, ../sass/F.scss */
.offset5 {
  margin-left: 300 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span5 {
  margin-left: 2.128%;
  width: 40.426%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset5 {
  margin-left: 44.681%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset5:first-child {
  margin-left: 42.553%;
}

/* line 150, ../sass/F.scss */
.span6 {
  margin-left: 20px;
  width: 480 - 20px;
}

/* line 155, ../sass/F.scss */
.offset6 {
  margin-left: 360 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span6 {
  margin-left: 2.128%;
  width: 48.936%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset6 {
  margin-left: 53.191%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset6:first-child {
  margin-left: 51.064%;
}

/* line 150, ../sass/F.scss */
.span7 {
  margin-left: 20px;
  width: 560 - 20px;
}

/* line 155, ../sass/F.scss */
.offset7 {
  margin-left: 420 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span7 {
  margin-left: 2.128%;
  width: 57.447%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset7 {
  margin-left: 61.702%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset7:first-child {
  margin-left: 59.574%;
}

/* line 150, ../sass/F.scss */
.span8 {
  margin-left: 20px;
  width: 640 - 20px;
}

/* line 155, ../sass/F.scss */
.offset8 {
  margin-left: 480 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span8 {
  margin-left: 2.128%;
  width: 65.957%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset8 {
  margin-left: 70.213%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset8:first-child {
  margin-left: 68.085%;
}

/* line 150, ../sass/F.scss */
.span9 {
  margin-left: 20px;
  width: 720 - 20px;
}

/* line 155, ../sass/F.scss */
.offset9 {
  margin-left: 540 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span9 {
  margin-left: 2.128%;
  width: 74.468%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset9 {
  margin-left: 78.723%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset9:first-child {
  margin-left: 76.596%;
}

/* line 150, ../sass/F.scss */
.span10 {
  margin-left: 20px;
  width: 800 - 20px;
}

/* line 155, ../sass/F.scss */
.offset10 {
  margin-left: 600 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span10 {
  margin-left: 2.128%;
  width: 82.979%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset10 {
  margin-left: 87.234%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset10:first-child {
  margin-left: 85.106%;
}

/* line 150, ../sass/F.scss */
.span11 {
  margin-left: 20px;
  width: 880 - 20px;
}

/* line 155, ../sass/F.scss */
.offset11 {
  margin-left: 660 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span11 {
  margin-left: 2.128%;
  width: 91.489%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset11 {
  margin-left: 95.745%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset11:first-child {
  margin-left: 93.617%;
}

/* line 150, ../sass/F.scss */
.span12 {
  margin-left: 20px;
  width: 960 - 20px;
}

/* line 155, ../sass/F.scss */
.offset12 {
  margin-left: 720 + 20px;
}

/* line 159, ../sass/F.scss */
.row-fluid .span12 {
  margin-left: 2.128%;
  width: 100%;
}
/* line 164, ../sass/F.scss */
.row-fluid .offset12 {
  margin-left: 104.255%;
}
/* line 166, ../sass/F.scss */
.row-fluid .offset12:first-child {
  margin-left: 102.128%;
}

/* line 177, ../sass/F.scss */
.dropdown {
  position: relative;
}
/* line 179, ../sass/F.scss */
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
/* line 185, ../sass/F.scss */
.dropdown.open {
  *z-index: 1000;
}
/* line 187, ../sass/F.scss */
.dropdown.open .dropdown-menu {
  display: block!important;
}
/* line 191, ../sass/F.scss */
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
}
/* line 198, ../sass/F.scss */
.dropdown .dropdown-menu a {
  display: block;
  clear: both;
}
