
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='{{ site.F.path.css }}/screen.css' media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='{{ site.F.path.css }}/custom.css' media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='{{ site.F.path.css }}/F.css' media="screen, projection" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ site.F.path.libs }}/require.js" data-main="{{ site.F.path.script }}/m" ></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index.html">首页</a></li>
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
        </ul>
    </nav>


    {{ content }}
</body>
