--- 
layout: extra
---
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<base target="_blank" />
	<link rel="stylesheet" href="{{ site.F.path.css }}/o2.css" />
</head>
<body>
	<div class="header">
		<header>
			<div class="inner">{{ page.title }}</div>
		</header>
	</div>
	<div class="inner article">
		<article>
			{{ content }}
		</article>
	</div>
	<a href="http://shop60110263.taobao.com/" target="_blank" id="b612"></a>

