
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='{{ site.F.path.css }}/o.css' media="screen, projection" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ site.F.path.scripts }}/require-jquery.js" data-main="{{ site.F.path.scripts }}/o" ></script>
</head>

<body class="f-on-footer f-on-navbar">
    <div class="f-main">
		<div id="site-null"></div>
		<div id="site-logo-hello"></div>
		<div id="site-logo"></div>
        <div class="f-main-navbar-">
			<nav class="f-main-navbar">
				<div class="f-block">
					<div id="logo"></div>
					<ul class="f-inline-block">
						{% assign pages_list = site.pages %}
						{% assign group = 'navigation' %}
						{% include F/pages_list %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" id="F-test" href="#">测试<b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="F-test">
								{% assign pages_list = site.pages %}
								{% assign group = 'F' %}
								{% include F/pages_list %}
							</ul>
						</li>

					</ul>
				</div>
			</nav>
        </div>

        {{ content }}
    	<div class="f-main-footer-">
        </div>
    </div>


    <footer class="f-main-footer" id="site-footer">
    </footer>
</body>
