
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='{{ site.F.path.css }}/screen.css' media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='{{ site.F.path.css }}/custom.css' media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='{{ site.F.path.css }}/F.css' media="screen, projection" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ site.F.path.libs }}/require.js" data-main="{{ site.F.path.script }}/m" ></script>
</head>

<body class="fhas-footer">
    <div class="f-box">
        <nav>
            <div id="site-logo"></div>
            <ul class="f-inline-block">
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include F/pages_list %}
            </ul>
        </nav>
        <div class="f-unit">
            {{ content }}
        </div>
    	<div class="f-box-footer">
        </div>
    </div>


    <div class="f-footer" id="site-footer">
        <div class="f-unit">
            design by 哼
        </div>
    </div>
</body>
