<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/{{ site.F.path.css }}/base.css" />
		{{ content }}
		<div id="backend">
			<a href='#' onclick="javascript:(function(){ window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent( '%E2%80%9C' + window.getSelection() + '%E2%80%9D%20%E2%80%94%E2%80%94%20' + document.title )+ '&url='+ encodeURIComponent(location.href)+ '&source=bookmark', '_blank', 'width=600, height=400');})();return false;">微博分享</a>
			<a href="/{{site.baseurl}}#tamamaxox/tamamaxox.github.com/tree/master/_posts">后台管理</a>
			<a class="backend" href="/{{site.baseurl}}#tamamaxox/tamamaxox.github.com/new/master/_posts">发表新文章</a>
		</div>
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbb20d41718ad37fb6b9c6692ba73e75b' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37675138-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

	</body>
</html>
